%br
.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title MI PERFIL
      .panel-body
        .row
          .col-md-2
            / %a.thumbnail{:href => edit_user_path(current_user), data: { modal: true }}
            %a.thumbnail{:href => '/', data: { modal: true }}
              - if current_user.picture.present?
                %img.img-circle{:alt => "...", :src =>"#{current_user.picture_url}"}
              - else  
                %img.img-circle{:alt => "...", :src => "http://placehold.it/150x150"}

          .col-md-10
            .col-md-4
              %h4 Puntos Disponibles 200
            .col-md-3
              = link_to points_path, class: 'btn btn_pill_small btn-block' do
                Comprar puntos
            .col-md-2  
              = link_to reservs_path, class: 'btn btn_pill_small btn-block' do
                Reservar

          .col-md-2 
            = link_to '', class: 'btn btn-warning' do
              ="#{current_user.email}"      
        .row        
          .container
            .col-md-11
              .panel.panel-default
                .panel-heading
                  %h3.panel-title Mis Reservas
                .panel-body        
                  .row

                    %table.table.table-striped
                      %thead
                        %tr
                          %th 
                          %th= t("equipment")
                          %th= t("day")
                          %th= t("hour")
                          %th= t("reserv_hours")


                      %tbody
                        - current_user.reservs.each do |reserv|
                          %tr
                            %td             
                              = image_tag("celestron14.jpeg")
                            %td= reserv.equipment.nombre  
                            %td= reserv.day
                            %td= reserv.hour
                            %td= reserv.hours
                            %td= link_to "Ir a Control" ,control_index_path, class: 'btn btn-sm btn-warning' 
                            %td= link_to "Eliminar","", class: 'btn btn-sm btn-warning' 
  
        .row        
          .container
            .col-md-11
              .panel.panel-default
                .panel-heading
                  %h3.panel-title Mis Fotos
                .panel-body        
                  .row                  
                    %table.table.table-striped
                      %thead
                      %tbody
                        - Photo.sessions(current_user.id).each do |session|
                          %tr
                            %td
                              = image_tag(Photo.photos_x_sesion(session).last.photo_url, height: 80, width:80)
                            %td 
                              %p= "Sesión del #{session.to_date}" 
                            %td
                              %p= "#{Photo.photos_x_sesion(session).count} fotos"
                            %td= link_to "Ver fotos","", class: 'btn btn-sm btn-warning' 
                                
     
                         
                  

        