= javascript_include_tag "//www.google.com/jsapi", "chartkick" 
%br
%br
%br
.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
      .panel-body
        .row
          .col-xs-12
            %h1
              Lecturas
              %span.badge= @readings.count
        %hr
        .row
          .col-md-12  
            %p Sensor Humedad
            = line_chart @chart_data1, colors: ["blue"]  
          .col-md-12 
            %p Sensor de Temperatura 
            = line_chart @chart_data4, colors: ["yellow"]   

.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Lecturas
      .panel-body
        .container-fluid

          %hr
          = will_paginate @readings, previous_label: h("<  "), next_label: h("  >")

          %table.table.table-striped
            %thead
              %tr
                %th Fecha
                %th Humedad 
                %th Temperatura

                %th
                %th
                %th

            %tbody
              - @readings.each do |reading|
                %tr
                  %td= reading.created_at.in_time_zone("Santiago")
                  %td= reading.humedad_origen1
                  %td= reading.temperatura_origen