
.top-background
  .topbar
    .container
      .pull-right
        =link_to  "Login", new_user_session_path, class: 'btn btn-warning' 
        %ul.nav.navbar-nav
          %li        
            = link_to image_tag('english.png'), home_index_path(locale: :en)
          %li  
            = link_to image_tag('spanish.png'), home_index_path(locale: :es)
          %li
            = link_to "Equipamiento", equipment_index_path 
          %li
            = link_to "Eventos Aastronómicos", ""           
          %li
            = link_to "Contacto", ""   


              
  .container
    %br
    %br
    .landing_content
      .row
        .col-md-12.text-center.logo-margin
          %h1.page-header AtacamaScope
          / = image_tag("logo.png")
      .row
        .col-md-1
        .col-md-11
          %h1 
            = t('title1')
          %h2
            = t('title2')
    %br       
    .container 
      .landing_content 
        .row
          .col-md-4
          .col-md-4                  
            = link_to new_user_registration_path, class: 'btn btn_pill btn-block' do
              = t('starts_now')


    %br          
.bkg-blue
  .container
    %h1.page-header.text-center
      Unos Simples Pasos
    .row
      .col-md-3.text-center  
        = image_tag("telescope48.png")
      .col-md-3.text-center
        = image_tag("search48.png")
      .col-md-3.text-center
        = image_tag("camera48.png")
      .col-md-3.text-center    
        = image_tag("cloud48.png")
    %br 
    .row
      .col-md-3.text-center  
        %h4 Elige y reserva tu equipo
      .col-md-3.text-center  
        %h4 Busca el objeto astronómico de tu interes en nuestra base de datos
      .col-md-3  
        %h4 Elige los parametros de la Foto
        %h4 - Tiempo Exposición
        %h4 - Sensibilidad del sensor
      .col-md-3.text-center  
        %h4 Dispara y obten tu foto en alta calidad
             
    %br
    %br
    %br
.suero-bkg-pub
  .container
    .row
      .col-md-12.text-center
        %br
        %br
        %h1.page-header
          ¿ Por que usar AtacamaScope ?
    .row
      .col-md-6.text-center
        = image_tag("clouds48.png")
        %h4 Tenemos los cielos mas limpios del mundo
      .col-md-6.text-center
        = image_tag("telescope48.png")
        %h4 Sin comprar equipos de alto costo
    %br
    %br
    .row
      .col-md-6.text-center
        = image_tag("globe48.png")
        %h4 Desde cualquier parte del mundo
      .col-md-6.text-center 
        = image_tag("emoticon48.png")
        %h4 Sin setear o ajustar complicados equipos de observación
    %br
    %br    
    .row
      .col-md-6.text-center
        = image_tag("money48.png")
        %h4 Sin costos de viajes, alojamientos, etc
      .col-md-6.text-center 
        = image_tag("moon48.png")
        %h4 Busca tu lugar del cielo, Dispara, Baja tu foto
    %br
    %br
    %br
    %br        

            

.bkg-blue
  .container
    .row
      .col-md-12.text-center
        %br
        %br
        %h1.page-header
          Galería de Fotos
    .row      
      .col-md-4.text-center 
        = image_tag("foto1.png")
        %p Telescopio 300mm f/4.5
        %p 5min Exp. iso:3500
      .col-md-4.text-center 
        = image_tag("foto2.png")
        %p Telescopio 300mm f/4.5
        %p 5min Exp. iso:3500
      .col-md-4.text-center 
        = image_tag("foto3.png")  
        %p Telescopio 300mm f/4.5
        %p 5min Exp. iso:3500  
        %br
        %br
    / .row
    /   .col-md-4.text-center
    /     %h3 Osvaldo Miranda S.
    /     %h4 Ing.Civil Informática
    /     %h4 osvaldo.omiranda@gmail.com
    /   .col-md-4.text-center
    /     %h3 Ariadna Veas V.
    /     %h4 Agrónomo
    /   .col-md-4.text-center
    /     %h3 Victor Ramirez M.
    /     %h4 Ing.Civil Electricista
    /     %h4 victor.ramirez@gmail.com
  %br
  %br
.bkg-blue
  .container
    .row
      .col-md-2.text-center 
      .col-md-8.text-center   
        .divider_line    
        %h4 AtacamaScope, dirección San Pedro de Atacama Chile
        %h4 emailcontacto@atacamascope.com
        %h4 fono: +569997667238
        %h4 osvaldo.miranda@atacamascope.com
        %br
        %p Copyright &copy; Incluye todas las fotos:  atacamascope.com 2018
    %br
    %br
    %br
    %br
    %br
    %br
