%h1 Listing commands

%table
  %thead
    %tr
      %th Command
      %th Type
      %th
      %th
      %th

  %tbody
    - @commands.each do |command|
      %tr
        %td= command.command
        %td= command.type
        %td= link_to 'Show', command
        %td= link_to 'Edit', edit_command_path(command)
        %td= link_to 'Destroy', command, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Command', new_command_path
